/*===============
Default fonts
===============*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap);
/*=============== 
Variables
===============*/
:root {
  color-scheme: light dark;
  /* dark shades of primary color*/
  --clr-primary-1: #0a0a0a;
  --clr-primary-2: #111827;
  --clr-primary-3: #1f2937;
  --clr-primary-4: #374151;
  --clr-primary-5: #6b7280;
  /* primary color */
  --clr-primary-6: #9ca3af;
  /* lighter shades of primary color */
  --clr-primary-7: #d1d5db;
  --clr-primary-8: #e5e7eb;
  --clr-primary-9: #f3f4f6;
  --clr-primary-10: #f3f4f6;
  /* dark shades of secondary color*/
  --clr-secondary-1: #1a2e05;
  --clr-secondary-2: #365314;
  --clr-secondary-3: #3f6212;
  --clr-secondary-4: #4d7c0f;
  /* secondary color */
  --clr-secondary-5: #84cc16;
  /* lighter shades of secondary color */
  --clr-secondary-6: #a3e635;
  --clr-secondary-7: #bef264;
  --clr-secondary-8: #d9f99d;
  --clr-secondary-9: #d9f99d;
  --clr-secondary-10: #ecfccb;
  /* gray nuances */
  --clr-grey-1: #0a0a0a;
  --clr-grey-2: #111827;
  --clr-grey-3: #1f2937;
  --clr-grey-4: #374151;
  --clr-grey-5: #6b7280;
  --clr-grey-6: #9ca3af;
  --clr-grey-7: #d1d5db;
  --clr-grey-8: #e5e7eb;
  --clr-grey-9: #f3f4f6;
  --clr-grey-10: #f3f4f6;
  --clr-white: #fff;
  --clr-black: #000;
  /* validation colours */
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  /* default fonts */
  --ff-primary: Roboto, sans-serif;
  --ff-secondary: Open Sans, sans-serif;
  /* others */
  --transition: all 0.1s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1100px;
  --mobile-width: 600px;
}
/* =============== 
Global Styles
=============== */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px black; */
}
body {
  font-family: 'Hind', var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1rem;
}
form {
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-grey-1);
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
h1, h2, h3, h4, h5 {
  letter-spacing: var(--spacing);
  line-height: 1.3;
  margin: 0;
  font-family: 'Pilcrow Rounded', var(--ff-secondary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
input {
  padding: 10px 1em;
  border-radius: 30px;
  border: 1px solid var(--clr-black);
}
input:focus {
  outline: none;
}
input::placeholder {
  color: var(--clr-grey-6);
}
button {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  transition: var(--transition);
  cursor: pointer;
  border: none;
  font-family: inherit;
}
button:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}