.form {
  width: 90%;
  max-width: 800px;
  margin: auto;
}
.form input {
  background-color: var(--clr-grey-8);
  width: 100%;
  border: none;
  border-radius: 0;
}
.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2em 0;
}
.content > div {
  width: 100%;
}
.content h3 {
  margin-top: 0.25em;
}
.list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.btn {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  width: 100%;
  background-color: var(--clr-grey-8);
  color: var(--clr-grey-2);
}
.active {
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  background-color: var(--clr-primary);
  color: var(--clr-grey-8);
}
.singleList select {
  padding: 0.5em 1em;
  width: 100%;
  background-color: var(--clr-grey-8);
  text-transform: capitalize;
  font-size: 1em;
  border: 0;
}
.singleList select:focus {
  outline: none;
}
.form textarea {
  width: 100%;
  margin: 2em 0;
}
.specialBtn {
  display: flex;
  justify-content: space-around;
}
.specialBtn button {
  margin: 2em;
  padding: 1em 2em;
  border: 2px solid transparent;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.2);
  color: var(--clr-white);
  background-color: var(--clr-tertiary);
}
.specialBtn button:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}