.container {
  margin: 3em auto;
  max-width: 600px;
  width: 90vw;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.input {
  max-width: 300px;
  width: 90vw;
}
.jobs {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin: auto;
}