.container {
  margin: 3em 5vw;
}
.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em 3em;
}
.input {
  max-width: 300px;
  width: 90vw;
}
.jobs {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin: auto;
}