.container {
  margin: 3em auto;
  width: 90%;
  max-width: 600px;
}
.candidate {
  background-color: var(--clr-grey-9);
  border-radius: 20px;
  padding: 2em;
  margin: 1em 0;
  display: grid;
  grid-template-areas:
    'data data data image'
    'data data data image'
    'action action action action';
}
.email {
  font-weight: bold;
  letter-spacing: 0.1em;
}
.data {
  grid-area: data;
  margin-right: 1em;
}
.image {
  grid-area: image;
}
.image img {
  width: 8em;
  height: 100%;
}
.action {
  display: flex;
  justify-content: space-between;
  grid-area: action;
  margin-top: 1em;
}
.btn2 {
  padding: 0.5em 1em;
  background-color: var(--clr-tertiary);
}
.btn1 a {
  color: var(--clr-btn-text);
  padding: 0.5em 1em;
  width: 100%;
}

@media screen and (max-width: 650px)  {
  .candidate {
    grid-template-columns: 1fr;
  }
  .image {
    display: none;
  }
}
@media screen and (max-width: 400px)  {
  .email {
    display: none;
  }
}