.container {
  margin: 1em 10vw;
}
.personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.personal > div {
  margin: 1em;
}
.personal img {
  height: 20em;
  width: 15em;
  /* border-radius: 50%; */
  background-color: var(--clr-grey-9);
  object-fit: cover;
  border: 2px solid var(--clr-grey-1);
}
.input {
  margin: 1em 0;
}
.input div {
  width: 100%;
}
.change a {
  padding: 0.5em 1em;
  border: 2px solid var(--clr-grey-1);
  text-align: center;
  margin: 0.5em 0;
}
.upload {
  padding: 0.5em 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
}
::-webkit-file-upload-button {
  padding: 0.5em 1em;
  background-color: var(--clr-grey-8);
  border: none;
}
.save {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.save button {
  padding: 0.5em 1em;
  border: 2px solid var(--clr-grey-1);
}
.text {
  margin: 2em 0;
}
.text textarea {
  width: 100%;
  resize: none;
  margin-top: 2em;
}
.subscription {
  display: grid;
  width: 100%;
  max-width: 700px;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0;
}
.msg h2 a {
  display: inline;
  margin-left: 0.3em;
  text-decoration: underline;
}
.delete {
  display: flex;
  justify-content: space-around;
}
.delete button {
  margin: 2em;
  padding: 1em 2em;
  border: 2px solid var(--clr-red-light);
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.2);
  color: var(--clr-red-light);
  background-color: var(--clr-white);
}
.delete button:hover {
  color: var(--clr-white);
  border: 2px solid var(--clr-red-light);
  background-color: var(--clr-red-light);
}
.delete button:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.abilities > div {
  margin-bottom: 1em;
}
.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .personal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}