.container {
  margin: 3em 10vw;
}
.candidate {
  background-color: var(--clr-grey-9);
  border-radius: 20px;
  padding: 2em;
  margin: 1em 0;
  display: grid;
  grid-template-areas:
    'data data data image'
    'action action action action';
}
.data {
  grid-area: data;
  margin-right: 0.5em;
}
.data h4 {
  text-transform: none;
}
.image {
  width: 7em;
  height: 9em;
  object-fit: contain;
  grid-area: image;
}
.action {
  display: flex;
  justify-content: space-between;
  grid-area: action;
}
.action button {
  border: 2px solid var(--clr-grey-1);
  padding: 0.5em 1em;
}

@media screen and (max-width: 500px)  {
  .candidate {
    grid-template-columns: 1fr;
  }
  .image {
    display: none;
  }
}