.container {
  margin: 1em auto;
  width: 90%;
  max-width: 650px;
}
.personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 2em 0;
}
.personal img {
  height: 20em;
  width: 15em;
  background-color: var(--clr-grey-9);
  border: 2px solid var(--clr-grey-1);
  margin: 1em auto;
}
.rating span {
  font-size: 1.3em;
  color:rgb(253, 203, 3);
}
.rating svg {
  padding-top: 2px;
  vertical-align: middle;
}
.rating button {
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: var(--clr-tertiary);
}
.average {
  font-size: 2em;
  margin: 0.5em 0 0 0;
  text-align: center;
}
.average svg {
  color:rgb(253, 203, 3);
  vertical-align: middle;
}
.field {
  font-size: 1.4em;
  margin: 1em 0;
}
.input {
  margin: 1em 0;
  max-width: 250px;
}
.phone {
  padding: 0;
  max-width: 250px;
  margin: 0;
}
.input > div {
  width: 100%;
}
.change {
  margin: 0.5em 0;
}
.change a {
  width: 100%;
  padding: 0.5em 1em;
  color: var(--clr-btn-text);
}
.upload-container {
  width: 100%;
  text-align: center;
}
.upload {
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
  border: 1px solid var(--clr-stroke);
  width: 300px;
  margin: 0 auto;
}
::-webkit-file-upload-button {
  padding: 0.5em 1em;
  background-color: var(--clr-grey-8);
  border: none;
}
.aboutUs {
  margin: 2em 0;
}
.aboutUs textarea, .aboutUs div {
  width: 100%;
  margin-top: 1em;
}
.subscription {
  display: grid;
  width: 100%;
  max-width: 700px;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0;
}
.msg {
  font-size: 1.4em;
  color: var(--clr-tertiary);
}
.msg a {
  display: inline;
  margin: 0 0.2em;
  text-decoration: underline;
  color: var(--clr-tertiary);
}
.save, .delete {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.save button {
  background-color: var(--clr-primary);
}
.delete button {
  background-color: var(--clr-tertiary);
}
.delete button, .save button {
  margin: 2em;
  padding: 1em 2em;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.2);
}
.delete button:active, .save button:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.error {
  color: red;
  text-align: center;
}

@media screen and (max-width: 660px) {
  .personal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    place-items: center;
  }
  .container {
    width: 90%;
    max-width: 300px;
    margin: 2em auto;
  }
}