.container {
  margin: 3em 5vw;
}
.title {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.jobs {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin: auto;
}
.loader {
  display: flex;
  justify-content: space-around;
  width: 100%;
}