.container {
  margin: 3em auto;
  max-width: 700px;
  width: 95%;
}
.title {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.jobs {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  place-items: center;
  width: 100%;
}
.select {
  width: 100%;
  margin: 1em 0;
}
.select select {
  margin-left: 0.5em;
}
.loader {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.btns {
  display: flex;
  justify-content: space-around;
  place-items: center;
  width: 100%;
}
.btns button {
  padding: 0.5em 1em;
}
.btns button svg {
  vertical-align: middle;
}
.btns button:disabled {
  color: var(--clr-headline);
  background-color: var(--clr-grey-7);
  padding: 0.5em 1em;
  cursor: not-allowed;
}