.container {
  background-color: var(--clr-grey-8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  margin: 3em auto;
  max-width: 700px;
  width: 90%;
  padding: 2em;
}
.title {
  margin-bottom: 0.5em;
}
.input {
  width: 100%;
  border-radius: 0px;
  margin: 1em 0 0 0;
  border: none;
  border-radius: 0;
  background-color: var(--clr-white);
}
.input div {
  border-radius: 0;
  width: 100%;
  margin: 0;
}
.link {
  width: fit-content;
  float: right;
}
.choice select {
  padding: 0.5em 1em;
  width: 100%;
  border: none;
  background-color: var(--clr-white);
  margin: 1em 0;
}
.btn {
  margin-top: 1em;
  padding: 0.5em 1em;
  display: block;
}
.btn a {
  color: var(--clr-white);
}
.image {
  display: grid;
  place-items: center;
  height: 100%;
}
.image img {
  height: 80%;
  width: 18em;
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .image {
    display: none;
  }
  .item2 {
    margin-top: 1em;
  }
}