.container {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
}
.container h2 {
  margin-bottom: 1.5em;
}
.btns button {
  padding: 1em;
}
.default {
  background-color: var(--clr-white);
  color: var(--clr-header);
}
.btns button:hover {
  box-shadow: none;
}
.active {
  background-color: var(--clr-grey-8);
  color: var(--clr-black);
}