.list {
  padding: 5px;
}
.btn {
  padding: 5px 10px;
  border: 2px solid var(--clr-grey-1);
  margin-top: 1em;
}
.elem {
  display: inline-block;
  background-color: var(--clr-secondary-5);
  color: var(--clr-white);
  border-radius: 30px;
  padding: 5px 10px;
  padding-bottom: 0;
  margin: 10px;
  width: fit-content;
}
.elem button {
  color: var(--clr-white);
}
.elem button:hover {
  box-shadow: none;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.form input {
  margin-right: 1em;
}