.list {
  padding: 5px;
}
.btn {
  padding: 0.5em 1em;
}
.elem {
  display: inline-block;
  background-color: var(--clr-tertiary);
  color: var(--clr-white);
  border-radius: 30px;
  padding: 5px 10px;
  padding-bottom: 0;
  margin: 10px;
  width: fit-content;
}
.elem button {
  background-color: transparent;
  color: var(--clr-white);
}
.elem button:hover {
  box-shadow: none;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.form input {
  margin-right: 1em;
  border-radius: 0;
  border: none;
  width: 100%;
  max-width: 200px;
}
.form .btn {
  padding: 0.5em 1em;
}