.form {
  background-color: var(--clr-secondary-6);
  padding: 1em 3em;
  margin: 0;
  margin-bottom: 3em;
}
.input {
  width: 100%;
  margin: 1em 0;
  border: 0;
}
.input div {
  background-color: #fff;
  width: 100%;
}
.upload {
  padding: 0.5em 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
}
::-webkit-file-upload-button {
  padding: 0.5em 1em;
  background-color: #fff;
  border: none;
}
.btn {
  border: 2px solid var(--clr-grey-1);
  padding: 0.5em 1em;
  margin: 1em 0;
}
.msg {
  font-weight: bold;
  margin: 0.5em 0;
  width: fit-content;
}