.container {
  max-width: 600px;
  width: 100%;
  background-color: var(--clr-grey-8);
  border-radius: 20px;
  padding: 1em;
  margin: 1em 0;
}
.container a {
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: fit-content;
  letter-spacing: 0.25rem;
  border: none;
  transition: var(--transition);
  background-color: var(--clr-tertiary);
  color: var(--clr-btn-text);
}
.container a:hover {
  box-shadow: var(--shadow-3);
}
.header {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  /* place-items: center; */
  width: fit-content;
  margin: 1em 0;
}
.header img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  font-size: 1.1em;
  text-transform: capitalize;
  padding: 0 0.5em 2em 0.5em;
  width: 100%;
}
.item svg {
  vertical-align: middle;
}