.active, .normal {
  padding: 10px 0;
  text-transform: capitalize;
  width: 100%;
  height: 50px;
  background-color: var(--clr-white);
  color: var(--clr-headline);
  letter-spacing: normal;
  transition: var(--transition);
}
.active {
  background-color: var(--clr-headline);
  color: var(--clr-white);
}