.container {
  width: 100vw;
  max-width: 100%;
  background-color: var(--clr-primary-8);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.logo {
  width: 2rem;
  height: 2rem;
  color: var(--clr-secondary);
}
.links {
  padding: 0 0.2vw;
  display: flex;
  flex-wrap: nowrap;
}
.link-container {
  height: 3em;
  transition: var(--transition);
  padding: 0 1vw;
  display: grid;
  place-self: center;
}
.link-container a div {
  display: grid;
  place-self: center;
  grid-template-columns: auto auto;
}
.link-container button div {
  display: grid;
  place-self: center;
  grid-template-columns: auto auto;
}
.icon {
  display: flex;
  justify-content: space-around;
}
.link-container:hover {
  transform: scale(1.1);
}
.badge {
  color: var(--clr-grey-2);
}
.sidebar {
  display: none;
}
.link-container button:hover {
  box-shadow: none;
}
@media only screen and (max-width: 500px) {
  .link-container {
    display: none;
  }
  .sidebar {
    display: inline;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
}