.container {
  width: 100vw;
  max-width: 100%;
  background-color: var(--clr-primary-8);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.container button {
  text-transform: none;
}
.container button:hover {
  box-shadow: none;
}
.logo {
  width: 4rem;
  height: 4rem;
}
.allJobs, .account, .sidebar, .logo, .theme, .auth {
  height: 3em;
  transition: var(--transition);
  padding: 0 1vw;
  display: grid;
  place-self: center;
}
.allJobs a div, .account button div, .theme, .auth {
  display: grid;
  place-self: center;
  grid-template-columns: auto auto;
}
.account {
  position: relative;
}
.icon {
  display: flex;
  justify-content: space-around;
}
.allJobs:hover, .theme:hover, .auth:hover {
  transform: scale(1.1);
}
.sidebar {
  display: none;
}
.details {
  position: absolute;
  top: 100%;
}
.details li {
  text-decoration: none;
}
.hide {
  display: none;
}
@media only screen and (max-width: 500px) {
  .sidebar {
    display: inline;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
}