.container {
  width: 100vw;
  max-width: 100%;
  background-color: var(--clr-grey-8);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  top: 0;
  position: sticky;
  z-index: 2;
  box-shadow: 10px 0 10px var(--clr-grey-5);
}
.container button {
  text-transform: none;
}
.container button:hover {
  box-shadow: none;
}
.logo {
  width: 4rem;
  height: 4rem;
}
.logo img {
  width: 3rem;
  height: 3rem;
}
.allJobs, .account, .sidebar, .logo, .theme, .auth {
  height: 3em;
  transition: var(--transition);
  padding: 0 1vw;
  display: grid;
  place-self: center;
}
.allJobs a div, .theme, .auth {
  display: grid;
  place-self: center;
  grid-template-columns: auto auto;
}
.account button div {
  display: grid;
  place-self: center;
  grid-template-columns: auto auto auto;
}
.account {
  position: relative;
}
.icon {
  display: grid;
  grid-template-columns: auto auto 1fr;
}
.allJobs:hover, .theme:hover, .auth:hover {
  transform: scale(1.1);
}
.sidebar {
  display: none;
}
.details {
  position: absolute;
  top: 3.5rem;
  display: block;
  background-color: #fff;
  box-shadow: var(--shadow);
  z-index: 2;
}
.details li {
  text-decoration: none;
  transition: var(--transition);
}
.details li a {
  width: 100%;
  height: 100%;
  padding: 0.5em 1em;
}
.details li:hover {
  background-color: var(--clr-grey-8);
}
.hide {
  display: none;
}
@media only screen and (max-width: 725px) {
  .sidebar {
    display: grid;
    place-self: center;
    grid-template-rows: 1fr;
  }
  .account, .auth {
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 450px) {
  .allJobs {
    display: none;
  }
}